<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mauth | Home</title>
    <link rel="stylesheet" href="/main.css">
    <link rel="shortcut icon" href="/img/logo.png" type="image/png">
</head>

<body>
    <main>
        <header class="header">
            <div class="logo_label">
                <img src="/img/logo_2.svg" width="100px" alt="logo_2">
            </div>
            <nav class="users">
                <span id="user_option">Users</span>
                <form class="l_form" action="/logout" method="POST">
                    <button>Logout</button>
                </form>
            </nav>
        </header>


        <section class="showcase">
            <div class="tin_can">
                <h1>Hi <%= name %>
                </h1>
                <p>Welcome to M.User. A beautiful place to be.</p>
            </div>
        </section>


        <section class="container">
            <div class="about">
                <div class="_col1">
                    <h3>The Purpose of this project</h3>
                    <p>
                        The main purpose of this site is to collect the data of users and store it in the database
                        through authorization and authentication means. Users are entitled to
                        how they handle their data and they can choose if they want to leave it here or delete it. If a
                        user doesn't want to leave their
                        information here but want to see the website, they are allowed to put dummy data ino this site.
                        And very important, if the user wants to
                        opt out or delete his or her information, he or she can go ahead becuase users are responsible
                        for their own data and
                        how or what they want to do with it.
                    </p>
                </div>

                <div class="_col2">
                    <img src="/img/woman_typing.jpg" alt="">
                </div>
            </div>
        </section>

        <section class="users_nav">
            <div class="user_close">X</div>
            <div class="search_user">
                <input type="text" placeholder="search user" />
            </div>

            <div class="map_user">

                <%for(var user of users) {%>
                    <div class="_user">
                        <h4><%=user.name %></h4>
                        <p><%=user.email%></p>
                        <small>Registered <%=user.createdAt%>.</small>
                    </div>
                <%}%>

            </div>

        </section>

        <footer class="footer">
            <p>MUser, 2021</p>
        </footer>
    </main>
    <script src="/code.js"></script>
</body>

</html>