<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/main.css">
    <link rel="shortcut icon" href="/img/logo.png" type="image/png">
</head>

<body>
    <div class="aut_frame">
        <div class="col_1"></div>
        <div class="col_2">
            
            <form action="/signin" class="form" method="post">
                <div class="logo_label">
                    <img src="/img/logo_2.svg" width="100px" alt="logo_2">
                    <p>Log in. Be a user</p>
                </div>
                <div>
                    <label for="Email">Email</label>
                    <input type="text" name="email" placeholder="email" />
                    <% if (errors !='undefined' ) { %>
                        <% errors.forEach(function(error) { %>
                            <% if (error.param === 'email' ) { %>
                                <small>
                                    <%= 'Invalid Email' %>
                                </small>
                                <% } %>
                            <%})%>
                        <% } %>
                </div>

                <div>
                    <label for="Password">Password</label>
                    <input type="password" name="password" placeholder="password" />
                    <% if (errors !='undefined' ) { %>
                        <% errors.forEach(function(error) { %>
                            <% if (error.param === 'password' ) { %>
                                <small>
                                    <%= 'Invalid Password' %>
                                </small>
                                <% } %>
                            <%})%>
                        <% } %>
                </div>
                <button>Sign In</button>

                <a href="/signup">Sign Up</a>
            </form>
        </div>
    </div>

</body>

</html>